.controller-part, .key, .controller-btn {
    text-transform: capitalize;
    width: 100px;
}

.camera-preview canvas {
    width: 800px;
    height: 600px;
}

.controller {
    margin-top: -20px;
}

.sensors {
    margin-left: -30px;
}

.sensors h2 {
    margin-left: 28px;
}
